<header class="header">
  <a
    class="header__contact"
    target="_blank"
    href="https://wa.me/+5511971246965?text={{
      'home.whatsappmessage' | translate
    }}"
  >
    {{ "home.letsWorkTogether" | translate }}
    <i class="fa-brands fa-whatsapp"></i>
  </a>
  <div class="header__btn-container">
    <a class="btn-language" (click)="defineTranslation('pt-br')">PT-BR</a> |
    <a class="btn-language" (click)="defineTranslation('en')">EN</a>
    <a
      class="btn-dowload"
      title="download"
      download
      target="_self"
      href="https://brunoalvesdev.com/assets/CV2025.docx"
      >{{ "utils.buttons.downloadCV" | translate }}
      <i class="fa fa-download"></i>
    </a>
  </div>
</header>
