.project-details {
  &__container {
    transition: all 0.1s;
    padding: 12rem 1rem;
    background-color: #1c2541;
    display: grid;
    place-items: center;
    height: 100vh;
    .view-website-btn a {
      color: #23488d;
      text-decoration: none;
    }
    .back-btn {
      position: absolute;
      top: 7.5rem;
      left: 1rem;
      font-size: 2rem;
      cursor: pointer;
      i {
        color: #23488d;
        margin-bottom: 1rem;
      }
    }
    h1 {
      color: #7c9eb2;
      text-align: center;
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }
  &__description {
    max-width: 70%;
    text-align: center;
    font-size: 1rem;
    color: white;
  }
  &__keySkills {
    color: #7c9eb2;
    span {
      font-weight: 800;
    }
  }
}
@media only screen and (max-width: 600px) {
  .project-details {
    &_container {
      h1 {
        font-size: 1rem;
      }
    }

    &__description {
      max-width: 100%;
      font-size: 1rem;
    }
    &__keySkills {
      text-align: center;
      font-size: 0.8rem;
    }
  }
}
