section {
  background-color: #0b132b;
}

.home {
  display: flex;
  align-items: center;
  h1,
  h2 {
    background: linear-gradient(to right, #5bc0be 20%, #5bc0be 40%, #6fffe9);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 3.5vw;
    font-weight: 300;
    letter-spacing: 2px;
    span {
      display: inline-block;
      background: linear-gradient(to right, #5bc0be 20%, #5bc0be 40%, #6fffe9);

      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
  p {
    color: #6fffe9;
    font-weight: 200;
    text-align: center;
    margin-top: 1rem;
  }
  &__description {
    width: 31rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title-container {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
  }

  &__title-greeting {
    display: flex;
    color: white;
    font-size: 3vw;
  }
  &__title-name {
    span {
      font-weight: 800;
    }
  }

  &__mySvg {
    width: 31vw;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    flex-direction: column;
    h1 {
      font-size: 8.5vw;
      text-align: center;
    }
    h2 {
      font-size: 7vw;
    }
    &__mySvg {
      width: 80vw;
    }

    &__description {
      width: 22rem;
    }
  }

  // section {
  //   height: 50vh;
  // }
}
