<section #projectsContainer>
  <app-divider></app-divider>
  <div class="projects">
    <h1 #page_title>{{ "projects.pageTitle" | translate }}</h1>

    <div
      class="projects__project-container"
      *ngFor="let project of projects$ | async"
    >
      <span #project_background></span>
      <div #project_content class="projects__wrapper">
        <h2>{{ project.title }}</h2>
        <p>
          {{ project.description }}
        </p>
        <div class="projects__btn-container">
          <a
            (click)="
              navigatoToDetails(
                project.title,
                project.description,
                project.keySkills,
                project.website
              )
            "
          >
            {{ "utils.buttons.viewMore" | translate }}
          </a>
          <a target="_blank" *ngIf="project.website" [href]="project.website">
            {{ "utils.buttons.viewWebsite" | translate }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
