<section>
  <app-divider></app-divider>
  <div class="projects">
    <h1 #page_title>{{ "projects.pageTitle" | translate }}</h1>

    <div class="projects__project-container">
      <span #project_background></span>
      <div #project_content class="projects__wrapper">
        <h2>{{ "projects.company_stefanini.title" | translate }}</h2>
        <p>
          {{ "projects.company_stefanini.description" | translate }}
        </p>
      </div>
    </div>
    <div class="projects__project-container">
      <span #project_background></span>
      <div #project_content class="projects__wrapper">
        <h2>{{ "projects.company_ibm.title" | translate }}</h2>
        <p>
          {{ "projects.company_ibm.description" | translate }}
        </p>
      </div>
    </div>
    <div class="projects__project-container">
      <span #project_background></span>
      <div #project_content class="projects__wrapper">
        <h2>Project title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          saepe vel quae illum provident, a enim eius modi alias suscipit
          recusandae ex veniam rem. Labore quos vitae magni ratione aliquam.
        </p>
      </div>
    </div>
    <div class="projects__project-container">
      <span #project_background></span>
      <div #project_content class="projects__wrapper">
        <h2>Project title</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
          saepe vel quae illum provident, a enim eius modi alias suscipit
          recusandae ex veniam rem. Labore quos vitae magni ratione aliquam.
        </p>
      </div>
    </div>
  </div>
</section>
