/* You can add global styles to this file, and also import other style files */
body {
  height: 200vh;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 1rem;
}
